@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DMMono";
    src: url('./assets/fonts/DMMono-Regular.ttf');
}

@font-face {
    font-family: "Lora";
    src: url('./assets/fonts/Lora.ttf');
}

@font-face {
    font-family: "Raleway";
    src: url('./assets/fonts/Raleway.ttf');
}